                               /* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

                                  /* Page Settings */
html {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
                                 /* Layout Container */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
                                    /* Header */
.main-header {
  
  display : flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background-color: #ffffff;
  padding:0 16px 0 5px;
  position: relative;
  z-index:10;
 }

                           /* Menu toggle button (left side) */
.button-toggle {
  font-size: 35px;
  
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  
}
                              /* Navigation Menu (sliding from left) */
.menu {
  position: fixed;
  inset : 0 auto 0 0;

  width: 220px;
  background-color: white;
  border-right: 1px solid #adadad;
  padding: 10px;

  transform: translateX(-110%);
  transition: transform 0.25s ease;
}

.menu.open {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #eee;
}
                              /* Logo (center) */
                              
.logo {
  
  
  height: 52px;        
  width: auto;
  
}
.logo-link {
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)translateY(10px);
    
    align-items: center;
    z-index: 20;
}





                      /* Header tools (icons right side) */
.header-tools {
  margin-left: auto;
  display: flex;
  gap: 7px;
  align-items: center;
}

.icon-btn {
  text-decoration: none;   
  color: #000;             
  font-size: 22px;
}

.icon-btn:hover {
  opacity: 0.7;             
}


                               /* Main Content */
.main-content {
  flex: 1;
  background-image: url("../img/main-background.PNG");
  background-size: cover;
  background-position: center;
}
                              /* Desktop layout */
@media (min-width: 1024px) {

  
  .button-toggle {
    display: none;
  }
  .logo-link {
    position: static;
    transform: none;
    margin-left: 16px;
    
  }
  .logo {
    height: 46px;
    width: auto;
  }

  
  .menu {
    position: static;
    inset: auto;
    transform: none;
    width: auto;
    background: none;
    border: none;
    padding: 0;
    margin-left: auto;



  }
  .menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    
  }

 
  .menu ul {
    display: flex;
    gap: 24px;
  }
  .header-tools{
    gap: 20px;  
  }
  .menu li:nth-child(4),
  .menu li:nth-child(5) {
    display: none;
  }
}
 

  
  



                                   

                                   




