---
layout: layouts/blank.njk
title: Login
permalink: /login.html
---

<!-- Auth card wrapper (styled in desktop breakpoint) -->
<div class="auth-card">
  
                     <!-- Login container -->
<div class="login">
                     <!-- Logo image -->
  <img class="logo" src="/img/logo.png" alt="PizzaHub logo">

                <!-- Text wrapper container -->
<div class="login-text">

                      <!-- Text-h1 -->
  <h1 class="title">Sign in </h1>

                     <!-- Text-p -->
  <p class="sub-title">Join us and make your next order easier.</p>

</div>
<!-- Login container -->
<div class="login-container">

    <!-- Email input -->
  <div class="email">

        <!-- email span icon -->
    <span class="input-icon left">
     <i class="fa-regular fa-envelope"></i>
    </span>

     <!-- email input field -->
    <input type="email" placeholder="Email">
  </div>

        <!-- Password input -->
  <div class="password">

                 <!-- lock span icon -->
    <span class="input-icon left">
     <i class="fa-solid fa-lock"></i>
    </span>
      
    <input type="password" placeholder="Password">
                    <!-- eye span icon -->
    <span class="input-icon right">
        <i class="fa-regular fa-eye"></i>
    </span>
    
  </div>
                         <!-- Forgot password link -->
     <a class="forgot-password" href="/forgot-password/">Forgot password?</a>

</div><!-- Login container </div> -->

                <!-- Login action button -->
    <button type="submit" class="login-btn">Login</button>

                    <!-- Secondary section -->
<div class="secondary">

                  <!-- text new here -->
<p class="new-here"><span>New here?</span></p>

<!-- Create account link (leads to account creation page) -->
<a href="/ Create Account /" class="link-btn create-account">
    Create Account
  </a>

<!-- Divider between account creation and guest access -->
  <div class="or-divider"><span>Or</span></div>
  
<!-- Continue without creating an account -->
   <a href="/guest/" class="link-btn guest">
    Continue as Guest
  </a>

<!-- Security and privacy information -->
  <p class="security-text">
    We never share your data · <span>Secure login</span>
  </p>

</div>
</div>
</div>


