 <!-- Footer -->
<footer class="main-footer">

  <div class="footer-container">

                       <!-- footer navigation -->
    <nav class="footer-nav" aria-label="Footer navigation">
      <a href="help.html">Help / FAQ</a>
      <a href="contact.html">Contact</a>
      <a href="terms.html">Terms & Privacy</a>
    </nav>
      
                  <!-- Footer social links -->
<div class="footer-social">
  <a href="https://facebook.com" target="_blank" aria-label="Facebook">
    <img src="../img/social/facebook-logo.svg" alt="Facebook">
  </a>

  <a href="https://instagram.com" target="_blank" aria-label="Instagram">
   <img src="../img/social/instagram-logo.svg" alt="Instagram">
  </a>

  <a href="https://x.com" target="_blank" aria-label="X">
    <img src="../img/social/twitter-x-logo.svg" alt="X">
  </a>
</div>
                        <!-- Footer divider -->
   <div class="footer-divider"></div>

                       <!-- Footer info -->
<div class="footer-info">

   <div class="footer-info-box">

  <p class="footer-info-title">Contact:</p>

  <p>
    <i class="fa-solid fa-phone"></i>
    <a href="tel:+442079460958">+44 20 7946 0958</a>
  </p>

  <p>
    <i class="fa-solid fa-clock"></i>
    Mon – Sun: 09:30 – 22:00
  </p>

  <p>
  <i class="fa-solid fa-location-dot"></i>
   <a 
    href="https://www.google.com/maps/search/?api=1&query=221B+Baker+Street+London+NW1+6XE"
    target="_blank"
  >221B Baker Street, London NW1 6XE, United Kingdom
    </a>
</p>

</div>
  </div>
    

                <!-- Footer bottom text -->
    <div class="footer-bottom">
      <p>© 2026 PizzaHub. All rights reserved.</p>
    </div>
  
  </footer>
